.Years ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.Years ul li {
    display: inline-flex;
    /* flex-grow: 100; */
    cursor: pointer;
    padding: 8px 12px;
    font-size: large;
    border: 2px solid transparent;
    border-radius: 6px;
    vertical-align: top;

}

.Years ul li:hover {
    background: rgba(0, 0, 255, 0.2);
    border-color: blue;
}


.SelectedYear.tip {
    right: 12px;
    left: unset;
}

@media(max-width:576px) {
    .Years h2 {
        opacity: 0;
    }

}